
<mat-card style="background-color: honeydew">
  <mat-card-title> List Of Cars Available </mat-card-title>
</mat-card>

<table  id="cars">
  <tr>
   <th *ngFor="let column of headers">
      {{column}}
    </th>
  </tr>
    <tr *ngFor="let vehicle of vehicles">
      <td>
        {{vehicle.make}}
      </td>
      <td>
        {{vehicle.model}}
      </td>
      <td>
        {{vehicle.yearModel}}
      </td>

      <td>
        {{vehicle.price}}
      </td>

      <td>
        {{vehicle.licensed}}
      </td>

      <td>
        {{vehicle.dateAdded}}
      </td>
      <td>
        <div *ngIf = "vehicle.licensed == 'true'">
          <button class="accordion" (click)="toggleAccordian($event)"></button>
          <div class="panel" hide="!item.isActive">
            <p>  Warehouse:{{vehicle.car.wareHouse.name}} </p>
            <p>  Latitude :{{vehicle.car.wareHouse.location.lat}} </p>
            <p>  Longitude:{{vehicle.car.wareHouse.location.long}} </p>
            <p>  Location :{{vehicle.car.location}} </p>
          </div>
        </div>
      </td>
    </tr>
</table>
